html {
            --scrollbarBG: #cfd8dc00;
            --thumbBG: #90a4ae00;
            padding-left:5%;
            padding-right:5%;
          }   
body::-webkit-scrollbar {
width: 11px;
}
body {
scrollbar-width: thin;
scrollbar-color: var(--thumbBG) var(--scrollbarBG);}
body {
font-family: sans-serif;
line-height: 2.3;
z-index:-1;
text-align: center;
width:100%;
box-sizing: content-box;
background-image:url(images/desk2.jpg); 
background-position-y:-40px ;
background-position-x: -50px;
background-size: 110%;
align-items: center;
outline:none;
-webkit-tap-highlight-color: transparent;  -webkit-user-select: none;
user-select: none;
}
/* ---- input ---- */
input[type="text"] {
font-size: 20px;
}
/* ---- grid ---- */
.grid {
padding-top:4%;
  filter:drop-shadow(-5px 15px 10px);
  display: inline-grid;
  background-image: url(images/blank2.svg);
  position:relative;
width:fit-content;
display:grid;
}
.bodybag{
position:relative; box-sizing:border-box; align-content:center;justify-content:center; overflow:hidden; display:flex;width:100%;height:100%;padding:1%;
}
/* clear fix */
.grid:after {
content: '';
clear: both;
} 
.cush{
  display:flexbox;
  position:relative;
  width:100%;
  align-items: center;
  justify-content: center;
  border:4px ;
  padding:2%;
  margin-left:3%;
  height:100%;
}
/* ---- .element-item ---- */
.element-item {
position:relative;
margin-left: 2%;
color: #262524;
justify-content: space-between;
background-repeat: no-repeat; 
background-size:cover;
cursor: pointer;
max-width: 48%;
z-index:9;
transform: scale(1.2);
padding-bottom:140px;
margin-right:-1%;
padding-right:1%;
}

/*======= SEARCHER ====================== ============ ===============  ======*/
.searcher{
position:absolute;
height:50px;
width:50px;
border-radius: 50%;
box-shadow: -6px 9px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -6px 9px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -6px 9px 5px 0px rgba(0,0,0,0.75);    
float:right;
text-align: center;
z-index:28;
background-color: white;
outline: none;
border: none;
padding: 0;
transition-duration: 0.4s;
-moz-transition-duration: 0.4s;
-webkit-transition-duration: 0.4s;
-o-transition-duration: 0.4s;

}
.searcher-container {
	position: absolute;
	display: inline-block;
	margin: 4px 2px;
	height: 40px;
	width: 40px;
  float:right;
}
.searcher .expandright{
position:absolute; left:25vw;top:-5px;box-sizing: border-box;z-index:1001;
}
.mglass {
	display: inline-block;
	pointer-events: none;
	-webkit-transform: rotate(-55deg);
	-moz-transform: rotate(-55deg);
	-o-transform: rotate(-55deg);
	-ms-transform: rotate(-55deg);
}
.searcherbutton {
	position: absolute;
	font-size: 22px;
	width: 50%;
	padding: 0;
}
.searcher:focus + .searcherbutton {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: white;
	color: black;
}
.searcher:focus {
transform: translateX(-100px) translateY(50px);
	width: 1500px; /* Bar width+1px */
	padding: 0 0px 16px 80px;
  height:100px;
  font-size:3em;
}
.expandright {

	left: auto;
	right:49px;
}
.expandright:focus {
	padding: 6px 0 0 6px;
  width:40vw;
 transform: translate(55vw);
}
/*===========FLIPCARD============================================================*/
.cbox{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	        perspective: 1000px;
          image-rendering: optimizeSpeed;
}
.front,
.back{
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
  border-radius: 10px;
	background-position: center;
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	text-align: center;
	min-height: 300px;
	height: auto;
	border-radius: 10px;
	color: #fff;
	font-size: 1.5rem;
  image-rendering: optimizeSpeed;
}
.front{
  overflow:hidden;
}
.front:after{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: 1;
   -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
}
.cbox:hover .front,
.cbox:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
}
.cbox .back{
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background-color: #fff;
  box-shadow: -4px 4px 6px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: -4px 4px 6px 0px rgba(0,0,0,0.75);
  -moz-box-shadow:-4px 4px 6px 0px rgba(0,0,0,0.75);    
}
.cbox .front{
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background-color:rgb(231, 230, 229);
  z-index:2;
  border-right:2px solid white;
  border-top: 2px solid white;
  background-image:
  linear-gradient(45deg,
    rgba(199, 199, 199, 0.75),
    rgba(50, 50, 50, 0.75)), url('url');
    box-shadow: -4px 4px 6px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -4px 4px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow:-4px 4px 6px 0px rgba(0,0,0,0.75);            
}
.cbox:hover .back{
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.cbox:hover .front{
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;

}
.front .inner p{
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}
.front .inner p:after{
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}
.front .inner span{
  color: rgba(255,255,255,0.7);
  font-family: 'Montserrat';
  font-weight: 300;
}
.element-item > * {

  background-repeat:no-repeat;
  min-height:300px;
  min-width:200px;
  width: calc(18% - 4rem);
  margin: 1.5rem;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size:cover;
  left:50px;

}  
.element-item .name {
    position: absolute;
    opacity:0;
  pointer-events: none;
    left: 10px;
    top: 60px;
    text-transform: none;
    letter-spacing: 0;
    font-size: 12px;
    font-weight: normal;
}  
.element-item .symbol {
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 42px;
    font-weight: bold;
    opacity:0;
    pointer-events: none;
}  
.element-item .number {
    position: absolute;
    right: 8px;
    top: 5px;
    opacity:0;
    pointer-events: none;
}  
.element-item .weight {
    position: absolute;
    left: 10px;
    top: 76px;
    font-size: 12px;
    opacity:0;
    pointer-events: none;
} 
.hidebut{
display:none;
}
.infobtn{
  position:absolute;
  margin-left:10px;
  margin-top:16px;
}
.pinpaper{
  width:0px;
  height:0px;
  position:absolute;

  filter:drop-shadow(-5px 3px 3px);
  color:black;
  font-family:'XTypewriter';
  font-size:0.5em;
  opacity:0;
  text-align: center;
  line-height: 25px;
  transition:  all 600ms ease;
  transition-delay: 200ms;
  z-index:-1;
  border:none;
  cursor:pointer;
}
.cbox:hover .pinpaper{
  background: linear-gradient(17deg, rgba(255,255,255,1) 3%, rgba(249,247,245,1) 28%, rgba(249,249,249,1) 35%, rgba(252,252,252,1) 58%, rgba(244,243,243,1) 81%, rgba(252,252,252,1) 86%, rgba(204,203,203,1) 97%, rgba(205,204,204,1) 100%, rgba(255,255,255,1) 100%);
  margin-top:10px;
  margin-left:-10px;
  width:120px;
  height:50px;
  opacity:1;
  z-index:99;
  border:none;
  font-size:0.5em;
}
.cbox:hover .hidebut{
  display:flex;
} 
.pinpaper:hover{
  width:180px;
  height:110px;
}
.pinpaper2{
  width:100px;
  height:50px;
  position:absolute;
  z-index:9;
  box-shadow: -4px 4px 6px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: -4px 4px 6px 0px rgba(0,0,0,0.75);
  -moz-box-shadow:-4px 4px 6px 0px rgba(0,0,0,0.75);    
  color:black;
  font-family:'XTypewriter';
  font-size:0.5em;
  text-align: center;
  line-height: 25px;
  border:none;
  opacity:0;
  margin-left:-12px;
  transition-delay: 200ms;
  animation:pinpaper4 1s ease-in-out;
  animation-fill-mode: both;
  transition: all 800ms ease;
  cursor:pointer;
}
.cbox:hover .pinpaper2{
  opacity:1;
  margin-top:290px;
  margin-left:-115px;
  width:100px;
  height:50px;
  opacity:1;
  z-index:99;
  font-size:0.5em;
}
.pinpaper3{
  width:0px;
  height:0px;
  position:absolute;
  z-index:9;
  box-shadow: -4px 4px 6px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: -4px 4px 6px 0px rgba(0,0,0,0.75);
  -moz-box-shadow:-4px 4px 6px 0px rgba(0,0,0,0.75);    
  color:black;
  font-family:'XTypewriter';
  font-size:0.5em;
  text-align: center;
  line-height: 25px;
  border:none;
  opacity:0;
  transition-delay: 200ms;
  margin-left:-12px;
  transition: all 500ms ease;
}
.cbox:hover .pinpaper3{
  opacity:1;
  margin-top:290px;
  margin-left:-115px;
  width:100px;
  height:50px;
  opacity:1;
  z-index:99;
  font-size:0.5em;
  transform:translateY(-300px);
  cursor:pointer;
  background: linear-gradient(6deg, rgba(255,255,255,1) 6%, rgba(255,255,255,1) 6%, rgba(245,246,225,1) 14%, rgba(223,222,204,1) 31%, rgba(245,245,239,1) 57%, rgba(243,244,235,1) 70%, rgba(244,243,243,1) 81%, rgba(250,250,237,1) 89%, rgba(213,212,196,1) 97%, rgba(205,204,204,1) 100%, rgba(255,255,255,1) 100%);
}
.pinpaper5{
  position:absolute;
  opacity:0;
  transition:  all 1s ease;
  transition-delay: 200ms;
  z-index:-1;
  border:none;
  cursor:pointer;
  box-shadow: -4px -2px 2px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -4px -2px 2px 0px rgba(0,0,0,0.75);
-moz-box-shadow:-4px -2px 2px 0px rgba(0,0,0,0.75);   
animation:pinpaper5 1s; 
animation-fill-mode:backwards;
}
.cbox:hover .pinpaper5{
  margin-top:0px;
  opacity:1;
  z-index:99;
  border:none;
  animation:pinpaper5 1s;
  animation-fill-mode: both;
}
@keyframes pinpaper5{

  0%{
    transform: rotateX(-200deg) rotateY(-20deg);
  }
  100%{
    transform:rotateX(180deg)translateY(-50px)rotateY(360deg);
  }
}
/*
transform:rotateX(720deg)rotateZ(720deg);*/
@keyframes pinpaper4{

  0%{
    transform: rotateX(-200deg) rotateY(-20deg);
  }
  100%{
    transform:rotateX(0deg)translateY(-50px)rotateY(360deg);
  }
}
@keyframes pinpaper3{

  0%{
    transform: rotateY(-200deg) rotateX(720deg) translateX(200vw);
  }
  100%{
    transform:rotateX(720deg)rotateZ(720deg)translateY(150px);
  }
}
/*NAV MENU  ===============================================================================*/

/*    LOUPEBOX  ===========z-index:30==================================================================*/

.loupebox{position:fixed;
  z-index:30;
  width:15vw;
  height:10vh;
  display:inline-block;
  box-sizing: border-box;
  left:-70px;
  top:-10px;
  transform:scale(0.2);
  transition: all 1s ease;
}
  #loupeCenterChkBox .loupebox{
    top:-60px;
    transform: translateY(500px);
}
.loupebox::after{
  transform:scale(0.3);
  transform: translateY(500px);
}
#loupeCenterChkBox:checked ~ .loupebox{
  padding-top:100px;
  transform: translateY(500px);
}
/*=====  NAVNAV main image============z-index:30 and 31========================================================================*/

  .navnav{
    transform: scale(1.1);
    left:275px;
    top:220px;
    position:absolute;
    transition: all 1s ease;
    background-color: transparent;
    pointer-events: none;
    z-index:30;
  }
  #loupeCenterChkBox .navnav{
    background-color: transparent;
    z-index:31;
  }
  .navnav::after{
    background-color: transparent;
    z-index:31;
  }
  /*important bit*/
  #loupeCenterChkBox:checked ~ .navnav{
    transform: scale(2.5);
    position:absolute;
    top:180px;
    left:150px;
    border-radius: 30px;
    background-color: transparent;
    pointer-events: none;
    z-index:31;
  }
  #loupeCenterChkBox:checked ~ .navnav::after{
    rotate:270deg;
    background-color: transparent;
    pointer-events: none;
    z-index:31;
  }
/*    LOU  =============z-index:29=================================================================*/
.lou{
 
  width:400px;
  height:400px;
  position: relative;
  transform: scale(1) ;
  top:-150px;
  left:-160px;
  position:absolute;
  transition: all 1s ease;
  background-color: transparent;
  z-index:29;
}
#loupeCenterChkBox .lou{
  transform: scale(3) translateY(180px) translateX(150px);
  top:280px;  z-index:29;
  transition: all 1s ease;
}
#loupeCenterChkBox:checked ~ .lou{
transform: translateY(85%) scale(3) translateY(150px) translateX(150px);
top:250px;
z-index:29;
transition: all 1s ease;
}

#loupeCenterChkBox:checked ~ .lou::after {
  top:280px;
  transform: scale(3) translateY(150px) translateX(150px);
  z-index:29;
  transition: all 1s ease;
}

/*    LOUPECENTERCHKBOX LABEL ======  =z-index:33=======================================================================*/

.Menu-container {
  height: 130px;
  width: 140px;
  cursor: pointer;
  margin: 10% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:33;
  left:150px;
  transition: all 1s ease;
}
.line {
  position: absolute;
  height: 150px;
  width: 140px;
  background-image: url(nav/bar.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  filter: drop-shadow(1px 1px 1px);
  transition: all 1s ease;
  left:50px;
  z-index:33;
}
.two {
  position: absolute;
  height: 150px;
  width: 140px;
  background-image: url(nav/bar.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  filter: drop-shadow(1px 1px 1px);
  transition: .4s ease; 
  left:50px;
  z-index:33;
  transition: all 1s ease;
}
.three {
  position: absolute;
  height: 150px;
  width: 140px;
  background-image: url(nav/bar.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  filter: drop-shadow(1px 1px 1px);
  transition: .4s ease; 
  z-index:33;
  left:50px;
  transition: all 1s ease;
}
/* it hides the checkbox*/
#loupeCenterChkBox {
  display: none;
  z-index:33;
  transition: all 1s ease;
}
.line::before {
  content: '';
  position: absolute;
  height: 5px;
  width: 40px;
  background-image: url(bar.svg),;
  background-repeat: no-repeat;
  background-size: 100%;
  filter: drop-shadow(1px 1px 1px);
  top: -8px;
  transition: .4s ease;
  z-index:33;
  transition: all 1s ease;
}
.line::after {
  content: '';
  position: absolute;
  height: 5px;
  width: 40px;
  background-image: url(bar.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  filter: drop-shadow(1px 1px 1px);
  top: 8px;  
  z-index:33;
  transition: all 1s ease;
}
.two::before {
  content: '';
  position: absolute;
  height: 5px;
  width: 40px;
  background-image: url(bar.svg),;
  background-repeat: no-repeat;
  background-size: 100%;
  filter: drop-shadow(1px 1px 1px);
  top: -8px;
  transition: .4s ease; 
  z-index:33;
  transition: all 1s ease;
}
.two::after {
  content: '';
  position: absolute;
  height: 5px;
  width: 40px;
  background-image: url(bar.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  filter: drop-shadow(1px 1px 1px);
  top: 8px; 
  z-index:33;
  transition: all 1s ease;
}
.three::before {
  content: '';
  position: absolute;
  height: 5px;
  width: 40px;
  background-image: url(bar.svg),;
  background-repeat: no-repeat;
  background-size: 100%;
  filter: drop-shadow(1px 1px 1px);
  top: -8px;
  transition: .4s ease;  
  z-index:33;
  transition: all 1s ease;
}
.three::after {
  content: '';
  position: absolute;
  height: 5px;
  width: 40px;
  background-image: url(bar.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  filter: drop-shadow(1px 1px 1px);
  top: 8px;  z-index:99
  transition: all 1s ease;
}
#loupeCenterChkBox:checked+label #active {
  transform: rotate(45deg)  translateX(100px) translateY(75px); 
   z-index:99;
   position:absolute;
   transition: all 1s ease;
}
#loupeCenterChkBox:checked+label #active::before {
  transform: rotate(-90deg) translateX(100px) translateY(75px);
  position:absolute;
  transition: all 1s ease;
}
#loupeCenterChkBox:checked+label #active2 {
  transform: rotate(85deg) translateY(55px) translateX(-100px);  /*X=up and down Y=left and right*/
  top:400px;
  left:400px;
  z-index:99;
  position:absolute;
}
#loupeCenterChkBox:checked+label #active2::before {
  transform: rotate(-90deg) translateX(-8px) translateY(-175px);
  position:absolute;
  top:400px;
  left:350px;
  transition: all 1s ease;
}
#loupeCenterChkBox:checked+label #active3 {
  transform: rotate(360deg) translateY(-75px) translateX(0px);  
  z-index:99;
  position:absolute;
  top:400px;
  left:400px;
  position:absolute;
  transition: all 1s ease;
}
#loupeCenterChkBox:checked+label #active3::before {
  transform: rotate(-90deg) translateX(48px);
  position:absolute;
  top:400px;
  left:370px;
}
#loupeCenterChkBox:checked+label  ~ .two {
  transform: rotate(-90deg) translateX(-8px);
  position:absolute;
  top:400px;
  left:350px;
  z-index:1000;
  transition: all 1s ease;
}
#loupeCenterChkBox:checked+label #active::after {
  display: none;
  position:absolute;
  top:400px;
  left:350px;
  transition: all 1s ease;
}
/*PADDLE=============================================================================*/
.paddle {
  position:absolute;
  width: 20px;
  height: 120px;
  position: absolute;
  border-radius: 90%/90% 90% 90% 90%;
  left: 390px;
  right: 0;
  top: 300px;
  bottom: 0;
  margin: auto;
  opacity: 1;
  transform: rotate(100deg);
  transform-origin: 80px -40px;
  transition: all 1s ease;
  z-index: -2;

}

.paddle:nth-of-type(1) {
  transition: all 1s ease;
  border-radius: 90%;
  top:500px;
  transform: scale(0);
}
  /*six eyes*/
.paddle:nth-of-type(2) {
  transition: all 1s ease;
  border-radius: 90%;
  top:400px;
  transform: scale(0);
}
  /*search*/
.paddle:nth-of-type(3) {
  transition: all 1s ease;
  border-radius: 90%;
  top:400px;
  transform: scale(0);
}
   /*SHOW ALL*/
.paddle:nth-of-type(4) {
  transition: all 1s ease;
  border-radius: 90%;
  top:400px;
  transform: scale(0);
}
  /*BODY SIZE*/
.paddle:nth-of-type(5) {
  transition: all 1s ease;
  border-radius: 190%;
  top:400px;
  transform: scale(0);
}
    /*EVEN ODD EYES*/
.paddle:nth-of-type(6) {
  transition: all 1s ease;
  border-radius: 190%;
  top:500px;
  transform: scale(0);
}
  #loupeCenterChkBox:checked ~ .paddle {
    transition: transform 1s cubic-bezier(.8, -.5, .2, 1.4);
  }
  /*PADDLE NEXT============================================================================================================================*/

/*EVEN ODD EYES*/
  #loupeCenterChkBox:checked ~ .paddle:nth-of-type(6) {
 transform: scale(2.9) rotatez(222deg) translateY(-75px) translateX(-150px);
 
}
/*BODY SIZE*/ /*Y= less goes right X=less goes up*/
#loupeCenterChkBox:checked ~ .paddle:nth-of-type(5) {
    transform: scale(2.9) rotatez(266deg) translateY(0px) translateX(-150px);
  }
/*SHOW ALL*/
#loupeCenterChkBox:checked ~ .paddle:nth-of-type(4) {
    transform: scale(2.8) rotatez(305deg) translateY(30px) translateX(-55px);left:420px;top:500px
}
/*search*/ /*Y=less goes up X-less goes left so just as normal*/
#loupeCenterChkBox:checked ~ .paddle:nth-of-type(3) {
    transform: scale(2.85) rotatez(346deg)translateY(80px) translateX(12px);
}
/*six eyes*//*Y=+down*/
#loupeCenterChkBox:checked ~ .paddle:nth-of-type(2) {
    transform: scale(2.9) rotatez(380deg)translateY(50px) translateX(70px); 
  }
#loupeCenterChkBox:checked ~ .paddle:nth-of-type(1) {
    transform:scale(2.9) rotatez(355deg) translateY(-30px) translateX(100px);
  }
#loupeCenterChkBox:checked ~ .loupebox{
  padding-top:100px;
  transform: translateY(500px);
}
  /*=======================================*/
  
  @font-face {
  font-family:'XTypewriter';
  src: url('XTypewriterBold-jEBl0.ttf');
  }
  /*added to filter */
  .show {
  display: inline-block;
  }
  /* filter btns */
  .btn {
  position:absolute;
  width:30px;
  border-radius: 50%;
  height:30px;
  cursor: pointer;
  z-index:30;
}
  .evenodd{
    position:absolute;
    z-index: 30;
    transform-origin: bottom left;
    box-sizing: content-box;
    border-radius: 90%;
    height: 90px;
    object-fit: fill;
    cursor:pointer;           
}
  .four{
  position:absolute;
  z-index: 30;
  transform-origin: bottom left;
  box-sizing: content-box;
  border-radius: 90%;
  height: 80px;
  object-fit: fill;        
}
.showsearch{
 border-radius: 90%; 
height:80px;
width:80px;
position:absolute;
z-index: 30;
transform-origin: bottom left;
box-sizing:content-box;
cursor:pointer;
}

*{box-sizing: border-box;}
@keyframes roll-in-left {
  0% {
    transform:translateX(-800px) rotate(-540deg);
    opacity:0;
  }
  100% {
    transform:translateX(0) rotate(0deg);
    opacity:1;
  }
}
/*BRODAL================  BRODAL  =======================  BRODAL  ======================================================================================================================================*/

.brodal-trigger{
  height:100px;
}
/*background-color-and wrapper*/
.brodal {
  position: fixed;
height:100% !important;
margin-left:8vw;
  background-color: transparent;
  padding: 20px;
  z-index: 9910;
  display: none;
  transition:all 1s ease;
  transform-style: preserve-3d;



}

.brodal .brodal-container.small{
  display: none;
  transform: scale(0);
width:0px;
height:0px;
transition:all 1s ease;
}
/*THE brodal*/
.brodal .brodal-container {
  display: none;
  transition:all 1s ease;
transform-style: preserve-3d;
perspective: 900px;
  margin-left: 3.5vw;
  margin-right: 3.5vw;
  padding: 10px 20px 20px;
  border-radius: 7px;
  background-color: transparent;

transform-origin: -20vw -20vw;



}
.brodal-header {
  transform: rotate(180deg) translateX(500px) ;
  transition: all 1s ease;
  position:absolute;
  z-index:9914;
  width:10%;
  height:13%;
  margin-left:-2.5%;
  background-color: rgb(240, 238, 209);
  padding:2%;
  font-family: 'XTypewriter';
  filter:drop-shadow(-2px 2px 2px) grey;
  box-shadow: -6px 9px 5px 0px rgba(0, 0, 0, 0.283);
  -webkit-box-shadow: -6px 9px 5px 0px rgba(0, 0, 0, 0.286);
  -moz-box-shadow: -6px 9px 5px 0px rgba(0, 0, 0, 0.486);    
  animation: animateheader 1s ease;
}
.brodal .brodal-header {
  position: absolute;
  transform: translateX(5px) scale(1);
  color: #000000;
  opacity:1;
  z-index:9915;
  width:fit-content;
  height:15%;
  margin-left:-2.5%;
  margin-top:-2%;
  background-color: rgb(240, 238, 209);
  filter:drop-shadow(-2px 2px 2px) grey;
  text-align: center;
  font-size: 2vw;
}


.brodal-close{
  opacity:0;
  transition: all 0.5s ease;
  transform: scale(0) translateX(-400px) translateY(-200px);
  color:rgba(255, 255, 255, 0.286);
  font-size: 3em;
  z-index:9999;

  
}
.brodal .brodal-close {
  position: absolute;
  top: -5px;
margin-left:99%;
  border-radius: 7px;
  width: 5%;
  height: 1em;
  background-color: rgba(255, 255, 255, 0.868);
opacity:1;
  text-align: center;
  cursor: pointer;
  transform: scale(1) translateX(30px) translateY(20vw);
  color:black;
  z-index:9912;
  line-height: 100%;
  filter:drop-shadow(-2px 2px 2px);

}

.small{
  transition:all 1s ease;
background-color: white;
  transform:rotate(180deg)scale(0)translateX(-800px);
  opacity: 0;
  height:0px;
  width:0px;
  margin-top:-800px;
  font-size: 0em;
  z-index:-1;

}
.brodal .small{
  transition:all 1s ease;
background-color: white;
  transform:rotate(0deg)scale(1)translateX(0px);
  display:inline-block;
  filter:drop-shadow(-2px 2px 2px);
  height:15%;
  width:fit-content;
  text-align: center;
  font-size: 2em;
  animation: animatebabytwo 1s ease;
  animation-delay:1000ms;
  animation-fill-mode: both;
  animation-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity:1;
  z-index:9914;
  box-shadow: -6px 9px 5px 0px rgba(0, 0, 0, 0.283);
  -webkit-box-shadow: -6px 9px 5px 0px rgba(0, 0, 0, 0.286);
  -moz-box-shadow: -6px 9px 5px 0px rgba(0, 0, 0, 0.486);  
  
}


.ag-brod .brodal-container{ transition: all 1s ease;
  background-color: transparent;
}

/*-=============*/

@keyframes byebye{
      0%{opacity:1;
      }
    
    95%{
     opacity:1}
    
    100%{
      opacity:0;
    height:0.0}
}
.bye{
      animation:byebye 6s linear;
      animation-fill-mode: forwards;

}
/*-=============*/
@keyframes animatebaby {
    
  0% {
    transform:translateX(-800px) rotate(-540deg);
    opacity:0;
  }
  100% {
    transform:translateX(0) rotate(0deg);
    opacity:1;
  }
}

/*  MEDIA QUERIES ==============================================================================================================================================================================================================================================================================================================================================*/
       


/* 
==============================================================================================================================================================================================================================================================================================================================================*/

  /*======= ====================== ============ ===============  ======*/

button,hr,input{overflow:visible}audio,canvas,progress,video{display:inline-block}progress,sub,sup{vertical-align:baseline}html{font-family:sans-serif;line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0} menu,article,aside,details,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{}button,select{text-transform:none}[type=submit], [type=reset],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}[hidden],template{display:none}/*# sourceMappingURL=normalize.min.css.map */
