:not(:defined) > * {
  display: none;
}

html {
  height: 100vh;
  width:100vw;
  
}

body {
  margin: 0;
  padding: 5vw;
  width: 100vw;
  height: 100vh;
}

model-viewer {
  width: 100vw;
  height: 100vh;

}
